{{/* Display author list, using profiles when present and literal names otherwise. */}}
{{- $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{ range $index, $value := (.Param $taxonomy) }}
    {{- $author_page := site.GetPage (printf "/authors/%s" ($value | urlize)) -}}
    {{- $name := $value -}}
    {{- $link := "" -}}
    {{- $highlight_name := false -}}
    {{- with $author_page -}}
      {{- $name = .LinkTitle -}}
      {{- $link = .RelPermalink -}}
      {{- $highlight_name = .Params.highlight_name | default false -}}
    {{- end -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span {{ if $highlight_name }}class="author-highlighted"{{end}}>
      {{- if $link -}}
        <a href="{{$link}}">{{$name}}</a>
      {{- else -}}
        {{ $name }}
      {{- end -}}
    </span>
    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{.}}"></i>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
