{{/* Custom author rendering: "A, B, & C" with no links */}}

{{ $authors := .Params.authors }}
{{ if $authors }}
  {{ $n := len $authors }}

  {{ range $i, $a := $authors }}
    {{/* author page (slug) */}}
    {{ $p := site.GetPage (printf "/authors/%s" $a) }}
    {{ $name := cond $p $p.Title $a }}

    {{/* Bold ONLY Oh and J for oh_j */}}
    {{ if eq $a "oh_j" }}
      <span class="me-author"><span class="me-strong">Oh</span>, <span class="me-strong">J</span>.</span>
    {{ else }}
      <span class="co-author">{{ $name }}</span>
    {{ end }}

    {{/* separator */}}
    {{ if lt $i (sub $n 1) }}
      {{ if eq $i (sub $n 2) }}
        <span class="author-sep">, &amp; </span>
      {{ else }}
        <span class="author-sep">, </span>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
